* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: rgba(55, 55, 55);
  color: whitesmoke;
}

div {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

input {
  padding: 5px;
  margin-left: 15px;
  min-width: 300px;
}

h2 {

  width: 50%;
}